<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Attendance Form</title>
  <link rel="stylesheet" href="/css/form.css">
</head>

<body>
  <div class="attendance-container">

    <div class="attendance-card">

      <div class="attendance-header">

        <h1>
          Attendance Form
        </h1>

        <p>
          Fill in your details to mark attendance.
        </p>

      </div>

      <p id="countdown" class="session-status">
        ⚡ Session Active • <%= remainingTime %>s remaining
      </p>

      <form id="attendanceForm" action="/submit/<%= token %>" method="POST">

        <div class="input-group">

          <label>
            Student Name
          </label>

          <input type="text" name="studentName" placeholder="Enter your name" required>

        </div>

        <div class="input-group">

          <label>
            Roll Number
          </label>

          <input type="number" name="rollNo" placeholder="Enter roll number" required>

        </div>

        <button id="submitBtn" type="submit">

          Mark Attendance

        </button>

      </form>

    </div>



  </div>


  <script>


    let timeLeft = <%= remainingTime %> -1;

    const countdownEl =
      document.getElementById("countdown");

    const submitBtn =
      document.getElementById("submitBtn");

    const form =
      document.getElementById("attendanceForm");

    const timer = setInterval(() => {

      timeLeft--;

      countdownEl.innerHTML =
        `⚡ Session Active • ${timeLeft}s remaining`;

      if (timeLeft <= 0) {

        clearInterval(timer);

        countdownEl.innerHTML =
          "❌ Session Expired";

        submitBtn.disabled = true;

        form
          .querySelectorAll("input")
          .forEach(input => {

            input.disabled = true;

          });

      }

    }, 1000);

  </script>
</body>

</html>