<!DOCTYPE html>
<html>

<head>

    <title>Generate QR</title>

    <link rel="stylesheet"
        href="/css/attendance.css">

</head>

<body>

<div class="qr-container">

    <div class="qr-card">

        <div class="qr-left">

            <img
                src="/images/qr-session.svg"
                alt="QR Session">

        </div>

        <div class="qr-right">

            <h1>
                Attendance Session Active
            </h1>

            <p>
                Students can scan this QR code
                to mark attendance.
            </p>

            <div class="qr-box">

                <img
                    src="<%= qrImage %>"
                    alt="QR Code">

            </div>

            <div id="countdown">

                15s

            </div>

            <p class="expiry-text">

                QR automatically expires
                after 15 seconds.

            </p>

        </div>

    </div>

</div>

<script>

let timeLeft = 15;

const countdown =
document.getElementById("countdown");

const timer =
setInterval(() => {

    timeLeft--;

    countdown.innerText =
    `${timeLeft}s`;

    if(timeLeft <= 0){

        clearInterval(timer);

        countdown.innerText =
        "Expired";

    }

},1000);

</script>

</body>

</html>