<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        button {
            position: absolute;
            left: 40%;
            top: 30%;
            background-color: #ffb703;
            border-radius: 5px;
            padding : 1rem;
            border : none;
        }
    </style>
</head>

<body>
    <h1>Attendance Taker</h1>

<a href="/register">
    Register as Professor
</a>

<br><br>

<a href="/login">
    Login
</a>
</body>

</html>