<!DOCTYPE html>
<html>
<head>
    <title>Professor Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="login-wrapper">

    <div class="login-left">

        <div class="brand">
            Attendance Taker
        </div>

        <h1>
            Create Account
        </h1>

        <p>
            Register as a Professor to manage attendance records
        </p>

        <form action="/register" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Enter Full Name"
                required
            >

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Create Password"
                required
            >

            <button type="submit">
                Register
            </button>

        </form>

        <div class="signup-link">
            Already have an account?
            <a href="/login">
                Login
            </a>
        </div>

    </div>

    <div class="login-right">

        <img
            src="/images/login.png"
            alt="Attendance Illustration"
        >

    </div>

</div>

</body>
</html>