<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- <style>
      h1{
    position : absolute;
    left : 40%;
    top : 30%;
}
    #name{
    margin-top : 1rem;
    position: absolute;
    left : 40%;
    top: 35%;
}
#rollNo{
    margin-top : 1rem;
    position: absolute;
    left : 40%;
    top: 39%;
}
  </style> -->
</head>
<body>
  <div class="container">
    <h1 style="color:green;">Attendance Marked Successfully!</h1>
    <p id="name">Name: <%= name %></p>
    <br>
    <p id="rollNo">Roll No: <%= rollNo %></p>
  </div>
</body>
</html>
